### Git ignore front end

# dependencies
/frontEndAthenaStore/node_modules

# testing
/frontEndAthenaStore/coverage

# production
/frontEndAthenaStore/build
/frontEndAthenaStore/functions-build

# netlify
/frontEndAthenaStore/.netlify

# misc
/frontEndAthenaStore/.DS_Store
/frontEndAthenaStore/.env.local
/frontEndAthenaStore/.env.development.local
/frontEndAthenaStore/.env.test.local
/frontEndAthenaStore/.env.production.local

/frontEndAthenaStore/npm-debug.log*
/frontEndAthenaStore/yarn-debug.log*
/frontEndAthenaStore/yarn-error.log*



### Git ignore backend

/backEndAthenaStore/HELP.md
/backEndAthenaStore/target/
/backEndAthenaStore/!.mvn/wrapper/maven-wrapper.jar
/backEndAthenaStore/!**/src/main/**/target/
/backEndAthenaStore/!**/src/test/**/target/

### STS ###
/backEndAthenaStore/.apt_generated
/backEndAthenaStore/.classpath
/backEndAthenaStore/.factorypath
/backEndAthenaStore/.project
/backEndAthenaStore/.settings
/backEndAthenaStore/.springBeans
/backEndAthenaStore/.sts4-cache

### IntelliJ IDEA ###
/backEndAthenaStore/.idea
/backEndAthenaStore/*.iws
/backEndAthenaStore/*.iml
/backEndAthenaStore/*.ipr

### NetBeans ###
/backEndAthenaStore/nbproject/private/
/backEndAthenaStore/nbbuild/
/backEndAthenaStore/dist/
/backEndAthenaStore/nbdist/
/backEndAthenaStore/.nb-gradle/
/backEndAthenaStore/build/
/backEndAthenaStore/!**/src/main/**/build/
/backEndAthenaStore/!**/src/test/**/build/

### VS Code ###
/backEndAthenaStore/.vscode/

