<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<title>Prova 1</title>
	
</head>
<body>
	
	<h1>Adicionar Locacao </h1>
	<form action="#" th:action="@{/locacao}" th:object="${locacao}" method="post">
		<label>Cliente id</label>
		<input type="text" th:field="*{cliente}" /> <br/>
		<label>Colaborador id</label>
		<input type="text" th:field="*{colaborador}" /> <br/>		
		<label>Fita id</label>
		<input type="text" th:field="*{fita}" /> <br/>	
		
		<button type="submit">Salvar</button>
	</form>
	
	<h1>Deletar Locacao </h1>
	<form action="#" th:action="@{/deletarlocacao}" th:object="${locacao}" method="post">
		<label>id</label>
		<input type="text" th:field="*{id}" /> <br/>	
		
		<button type="submit">Salvar</button>
	</form>
	
	<h1>Atualizar Locacao </h1>
	<form action="#" th:action="@{/atualizarlocacao}" th:object="${locacao}" method="post">
		<label>id</label>
		<input type="text" th:field="*{id}" /> <br/>	
		<label>Cliente id</label>
		<input type="text" th:field="*{cliente}" /> <br/>
		<label>Colaborador id</label>
		<input type="text" th:field="*{colaborador}" /> <br/>		
		<label>Fita id</label>
		<input type="text" th:field="*{fita}" /> <br/>	
		
		<button type="submit">Salvar</button>
	</form>
	
	<div class="lists_div" style="position:absolute;right:30%;top:0px;">
		<h1>Lista Locacao </h1>
		<table border="1px">
		<thead>
			<tr>
				<th>ID</th>
				<th>Cliente</th>
				<th>Colaborador</th>
				<th>Fita</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="locacao : ${locacaoList}">
				<td><span th:text="${locacao.id}"></span></td>
				<td><span th:text="${locacao.cliente}"></span></td>
				<td><span th:text="${locacao.colaborador}"></span></td>
				<td><span th:text="${locacao.fita}"></span></td>
	
			</tr>
		</tbody>
		</table>
		
		<h1>Lista Cliente </h1>
		<table border="1px">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>CPF</th>
				<th>Data Criação</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente : ${clienteList}">
				<td><span th:text="${cliente.id}"></span></td>
				<td><span th:text="${cliente.nome}"></span></td>
				<td><span th:text="${cliente.CPF}"></span></td>
				<td><span th:text="${cliente.data}"></span></td>
	
			</tr>
		</tbody>
		</table>
		
		<h1>Lista Colaboradores </h1>
		<table border="1px">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>CPF</th>
				<th>Data Criação</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="colaborador : ${colaboradorList}">
				<td><span th:text="${colaborador.id}"></span></td>
				<td><span th:text="${colaborador.nome}"></span></td>
				<td><span th:text="${colaborador.CPF}"></span></td>
				<td><span th:text="${colaborador.data}"></span></td>
	
			</tr>
		</tbody>
		</table>
		</form>
		
		<h1>Lista Fitas </h1>
		<table border="1px">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Preco</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="fita : ${fitaList}">
				<td><span th:text="${fita.id}"></span></td>
				<td><span th:text="${fita.nome}"></span></td>
				<td><span th:text="${fita.preco}"></span></td>
	
			</tr>
		</tbody>
		</table>
	</div>
</body>
</html>