.header_div_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 3%;
    background-color: #DCDCDC;
}
.header_div_user_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;

}
.header_div_page_logo{
    font-size: 2.4rem;
}
.header_div_img_icon{
    width: 28px;
    height: 28px;
    border-radius: 100%;
    margin-right: 8px;
    background-color: #696969;
    display: inline;   
}